.container{
	background: black;
	margin: 5px;
	padding:5px;
	height: 445px !important;
	width: 800px !important;
}
.splash-screen{	
	color: white;
	display: none;
	font-family: Impact, Charcoal, sans-serif;
	font-size: x-large;
	text-align: center;
}
