.wrapper{
    margin-left: -110px
}

.game-container{
	background: black;
	height: 445px !important;
	width:  800px !important;
	margin: 5px;
	padding:5px;
}

.splash-screen{	
	color: white;
	font-family: Impact, Charcoal, sans-serif;
	font-size: x-large;
	text-align: center;
	background: black;
	height: 445px !important;
	width:  800px !important;
	margin: 5px;
	padding:5px;
}

.winning-screen{	
	color: white;
	font-family: Impact, Charcoal, sans-serif;
	font-size: x-large;
	text-align: center;
	background: black;
	height: 445px !important;
	width:  800px !important;
	margin: 5px;
	padding:5px;
}

.gameover-screen{	
	color: white;
	font-family: Impact, Charcoal, sans-serif;
	font-size: x-large;
	text-align: center;
	background: black;
	height: 445px !important;
	width:  800px !important;
	margin: 5px;
	padding:5px;
}



